@import url(http://fonts.googleapis.com/css?family=Oleo+Script|Fredoka+One);

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?tl65hn');
  src:url('../fonts/icomoon.eot?#iefixtl65hn') format('embedded-opentype'),
    url('../fonts/icomoon.woff?tl65hn') format('woff'),
    url('../fonts/icomoon.ttf?tl65hn') format('truetype'),
    url('../fonts/icomoon.svg?tl65hn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}