.new-laud{
  display: block;
  margin: 25px auto;
  width: 90%;
  max-width: 900px;
  height: 150px;
  background: #fff;
  @include border-radius(100px);

  .fake-img{
    display: inline-block;
    float: left;
    width: 150px;
    height: 150px;
    @include border-left-radius(100px);
  }

  .rec-btn{
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 150px;
    height: 150px;
    background: #628;
    box-shadow: none;
    @include border-radius(100px);
    font-size: 100px;
    color: white;
    border: none;
  }
  .rec-btn:hover{
    background: #517;
  }
  .rec-btn:active{
    background: #406;
  }

  .new-audio{
    margin: 15px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    float: left;
    @include opacity(0);
    padding: 5px;

    .form-item{
      margin-bottom: 5px;
      width:100%;
    }

    
  }
}