body{
  font-size: 16px;
  font-family: 'Helvetica';
}

#top-logo{
  font-family: "Oleo Script", cursive;
  font-size: 45px;
  font-weight: bold;
  color: #fff;

  a{
    color: #fff;
    text-decoration: none;
  }
}

#main-menu{
  font-size: 20px;

  a{
    color: #fff;
    text-decoration: none;
  }
}

#feed{
  font-family: sans-serif;
}
